# Application
APP_NAME=

# Server
NODE_ENV=development
PORT=5000

# Security
CORS_ORIGINS=
CORS_CREDENTIALS=true

# Database
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DB=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
